/*
 * Contextual tokens
 */
body {
  margin: 0;
  background-color: #313338;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.app {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-template-areas: "servers channels messages members";
  max-height: 100vh;
}

/*
 * Standard, multi-use flex container.
 * @param {String} $dir - Flex direction
 * @param {String} $ai - Align items
 * @param {String} $js - Justify content
 * @param {Number} $gap [0] - Gap between items
 * @param {String} $wrap [wrap] - Whether to wrap items or not
 */
.servers {
  scrollbar-width: none;
  overflow-y: auto;
  grid-area: servers;
  max-height: inherit;
  background-color: #1e1f22;
}
.servers ::-webkit-scrollbar {
  width: 0.5em;
}
.servers ::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.servers ::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 1em;
}

.members {
  scrollbar-width: none;
  overflow-y: auto;
  max-height: inherit;
}
.members ::-webkit-scrollbar {
  width: 0.5em;
}
.members ::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.members ::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 1em;
}

.servers__navigation {
  padding: 1rem;
}

.servers__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.navigation__button {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  flex-wrap: wrap;
  position: relative;
  width: 4rem;
  aspect-ratio: 1/1;
  background-color: #2b2d31;
}
.navigation__button,
.navigation__button img {
  border-radius: 100%;
}

.navigation__button:hover:not([aria-expanded=true]),
.navigation__button[aria-expanded=true] {
  background-color: #5865f2;
}
.navigation__button:hover:not([aria-expanded=true]),
.navigation__button:hover:not([aria-expanded=true]) img,
.navigation__button[aria-expanded=true],
.navigation__button[aria-expanded=true] img {
  border-radius: 32.5%;
}
.navigation__button:hover:not([aria-expanded=true])::before,
.navigation__button[aria-expanded=true]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -29%;
  transform: translate(-50%, -50%);
  width: 1rem;
  aspect-ratio: 1/1;
  border-radius: 0.325rem;
  background-color: #dbdee1;
  transition: 0.2s all ease-in-out;
}

.navigation__button:hover::before {
  height: 40%;
}

.navigation__button[aria-expanded=true]::before {
  height: 75%;
}

.button__icon {
  width: 100%;
  aspect-ratio: 1/1;
  pointer-events: none;
}

.button__icon-small {
  max-width: 75%;
  pointer-events: none;
}

.navigation__divider-bottom, .navigation__divider-top {
  max-width: 2.5rem;
  color: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  height: 1.75px;
  border: 0;
}

.navigation__divider-top {
  margin-top: 1rem;
}

.navigation__divider-bottom {
  margin-bottom: 1rem;
}

/*# sourceMappingURL=main.css.map */
