$brand: #5865f2;
$dark-grey: #1e1f22;
$light-grey: #313338;
$very-light-grey: rgb(255 255 255 / 0.2);
$grey: #2b2d31;
$white: #dbdee1;

/*
 * Contextual tokens
 */

$message: $white;
$divider: $very-light-grey;
