@use "../../../abstracts/tokens/tokens" as tokens;
@use "../../../abstracts/mixins/mixins" as mixins;

%button {
  @include mixins.reset-button();
  @include mixins.flex(row, center, center);
  position: relative;
  width: tokens.$w-server-icon;
  aspect-ratio: 1 / 1;
  background-color: tokens.$clr-grey;

  &,
  img {
    border-radius: 100%; // I really don't like this solution
  }
}

.navigation__button {
  @extend %button;
}

.navigation__button:hover:not([aria-expanded="true"]),
.navigation__button[aria-expanded="true"] {
  background-color: tokens.$clr-brand;

  &,
  img {
    border-radius: 32.5%; // selector explosion...
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -29%;
    transform: translate(-50%, -50%);
    width: 1rem;
    aspect-ratio: 1 / 1;
    border-radius: 0.325rem;
    background-color: tokens.$clr-white;
    transition: 0.2s all ease-in-out;
  }
}

.navigation__button:hover::before {
  height: 40%;
}

.navigation__button[aria-expanded="true"]::before {
  height: 75%;
}
