@use "../../../abstracts/tokens/tokens" as tokens;
@use "../../../abstracts/mixins/mixins" as mixins;

%navigation__divider {
  max-width: 2.5rem;
  color: tokens.$clr-divider;
  background-color: tokens.$clr-divider;
  height: 1.75px;
  border: 0;
}

.navigation__divider-top {
  @extend %navigation__divider;
  margin-top: 1rem;
}

.navigation__divider-bottom {
  @extend %navigation__divider;
  margin-bottom: 1rem;
}
